main{
	width: 90%;
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows:  150px 150px 150px;
	gap: 10px;
}

img{
	max-width: 200px;
}

.bottle{
	grid-row-start: 1;
	height: 310px;
}

.fire{
	grid-row-start: 3;
}

.lanternes{
	grid-column-start: 2;
	height: 310px;
}

.lac{
	height: 310px;
}

.verre{
	grid-row-start: 3;
	grid-column-start: 3;
}