h1{
	justify-self: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows:  150px 150px 150px;
	gap: 10px;
	justify-self: center;

}

img{
	max-width: 200px;
}

.bottle{
	grid-row-start: 1;
	height: 310px;
}

.fire{
	grid-row-start: 3;
}

.lanternes{
	grid-column-start: 2;
	height: 310px;
}

.lac{
	height: 310px;
}

.verre{
	grid-row-start: 3;
	grid-column-start: 3;
}


@media  screen and (max-width: 680px) {

	body{
		margin: 0;
	}

	h1{
		justify-self: center;
	}

	main{
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: repeat(5, 150px);
		gap: 10px;
		justify-self: center;
	}

	img{
		max-width: 200px;
	}

	.bottle{
		grid-row-start: 1;
		grid-row-end: span 2;
		height: 310px;
	}

	.fire{
		grid-column: 2;
		grid-row: 2;
	}

	.lac{
		grid-row-start: 3;
		grid-row-end: span 2;
		height: 310px;

	}

	.lanternes{
		grid-row-start: 3;
		grid-row-end: span 2;
		height: 310px;
	}

	.verre{
		grid-row: 5;
		grid-column: 1;
		width: 400px;
	}

}